{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.css') }}">
{% endblock stylesheets %}

{% block headingJS %}
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
{% endblock headingJS %}

{% block content %}
    <div class="inner">
        <div class="survey_container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Num. Questions</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for survey in surveys %}
                        <tr>
                            <td>
                                {{ survey.name }}
                                <a data-title="{{ survey.name }}" data-id="{{ survey.id }}" class="btnEditName" title="Edit survey name" style="float: none;margin-left: 10px;vertical-align: middle;"><i class="fa fa-edit"></i></a>
                            </td>
                            <td>{{ survey.creation_date | date('d/m/Y') }}</td>
                            <td>{{ survey.questions | length }}</td>
                            <td>
                                <a href="{{ path('atm_survey_edit_questions',{ 'surveyId':survey.id }) }}" title="Edit Survey"><i class="fa fa-edit"></i></a>
                                {#<a href="{{ path('atm_survey_see_form_admin',{ 'surveyId':survey.id }) }}" target="_blank" title="View survey as admin"><i class="fa fa-search-plus"></i></a>#}
                                <a href="{{ path('atm_survey_see_answers',{ 'surveyId':survey.id }) }}" title="View answered surveys"><i class="fa fa-check-square"></i></a>
                                <a title="Generate interview link to send to model" class="btnShowPopSearch" data-survey-id="{{ survey.id }}"><i class="fa fa-user"></i></a>
                                <a href="{{ path('atm_survey_delete',{ 'surveyId':survey.id }) }}" title="Delete Survey"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="popSearchUsers" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Search Users</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body">
                    <input type="text" id="txSearchUsers" placeholder="write a username or email" style="width: 100%;float: left;">
                    <a id="btnSearchUser" style="display: inline-block;position: absolute;right: 17px;top: 17px;width: 28px;border-left: 1px solid #c1baba;height: 27px;box-sizing: border-box;">
                        <i class="fa fa-search" style="margin-left: 5px;margin-top: 5px;"></i>
                    </a>
                    <a id="surveyUrlLink"></a>
                    <div class="userContainer"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="popEditName" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Edit name</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <form class="modal-body" method="post" id="frmName">
                    <input type="text" id="txName" name="name" placeholder="" style="width: 100%;float: left;">
                    <input type="submit" class="but blue" value="Save" style="margin-top: 20px;border: 0;">
                </form>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        $('.btnShowPopSearch').click(function(){
            var surveyId = $(this).attr('data-survey-id');
            $('#btnSearchUser').attr('data-survey-id',surveyId);
            $('#surveyUrlLink').hide();
            $('.userContainer').html('');
            $('#txSearchUsers').val('');
            $('#popSearchUsers').modal('show');
        });

        $('#txSearchUsers').keypress(function(e){
            if(e.keyCode == 13){
                $('#btnSearchUser').click();
            }
        });

        $('#btnSearchUser').click(function(e){
            e.preventDefault();

            var searchString = $('#txSearchUsers').val();
            var surveyId = $(this).attr('data-survey-id');

            $.ajax({
                url: Routing.generate('atm_survey_search_users',{'searchString':searchString,'surveyId':surveyId}),
                type: 'post',
                dataType: 'html',
                success: function(data){
                    $('.userContainer').html(data);
                }
            });
        });

        $('.userContainer').on('click','.user',function(){
            var url = $(this).attr('data-survey-link');
            $('#surveyUrlLink').attr('href',url).text(url).show();
        });

        $('.btnEditName').click(function(){
            var name = $(this).attr('data-title');
            var id = $(this).attr('data-id');

            $('#txName').val(name);
            $('#frmName').attr('action',Routing.generate('atm_survey_edit_name',{'surveyId':id}));

            $('#popEditName').modal('show');
        });
    </script>
{% endblock javascripts %}