{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.css') }}">
{% endblock stylesheets %}

{% block headingJS %}
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
{% endblock headingJS %}

{% block content %}
    <div class="inner">
        <div class="survey_container">
            <table style="margin-bottom: 20px;border-bottom: 1px solid #cecece;">
                <thead>
                <tr>
                    <th>Model</th>
                    <th>Author</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for question in questions %}
                    <tr>
                        <td>
                            {{ question.model.title ? question.model.title:question.model.username }}
                        </td>
                        <td>
                            {{ question.author.title ? question.author.title:question.author.username }}
                        </td>
                        <td>
                            <label style="display: inline-block;width: 100%;max-width: 100%;overflow: hidden;">{{ question.question }}</label>
                        </td>
                        <td>
                            <label style="display: inline-block;width: 100%;max-width: 100%;overflow: hidden;">{{ question.answer | raw }}</label>
                        </td>
                        <td style="padding:0;width: 8%;">
                            <a href="{{ path('atm_survey_interactive_questions_approve_answer',{ 'questionId':question.id }) }}" title="Approve Answer" style="margin:0;width: 25%;font-size: 19px;"><i class="fa fa-check"></i></a>
                            <a href="{{ path('atm_survey_delete_interactive_question',{ 'interactiveQuestionId':question.id }) }}" title="Delete Question" style="margin:0;width: 25%;font-size: 19px;"><i class="fa fa-times"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade" id="_popSeeQuestion" tabindex="-1" role="dialog" aria-hidden="true">
        <a class="close" onclick="$('#_popSeeQuestion').modal('hide')">
            <i class="fas fa-chevron-left"></i>
        </a>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" style="padding: 15px;">
                <h2 class="block_title" id="_questionText" style="width: 100%;text-align: center;font-weight: bold;font-size: 17px;"></h2>
                <div class="boards_post_buttons" style="margin-top: 20px;">
                    <a class="but red" onclick="$('#_popSeeQuestion').modal('hide')" style="float: none;">Close</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script>
        $('._seeQuestion').click(function(){
            let question = $(this).attr('data-question');
            $('#_questionText').html(question);
            $('#_popSeeQuestion').modal('show');
        });

        $('._chkInteractiveQuestion').change(function(){
            let chkChecked = false;
            $('._chkInteractiveQuestion').each(function(){
                if($(this).is(':checked')){
                    $('._createSurvey').css('background-color','#40a2ff');
                    chkChecked = true;
                }
            });

            if(!chkChecked){
                $('._createSurvey').css('background-color','#cecece');
            }
        });

        $('._createSurvey').click(function(){
            let questionIds = [];
            $('._chkInteractiveQuestion').each(function(){
                if($(this).is(':checked')){
                    questionIds.push($(this).val());
                }
            });

            if(questionIds.length > 0){
                $('#_questionIds').val(JSON.stringify(questionIds));
                $('#_formQuestions').submit();
            }
        });
    </script>
{% endblock javascripts %}