{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}


{% block content %}
<div class="inner">
    <div class="survey_container">
        <table>
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Allow questions</th>
                </tr>
            </thead>
            <tbody>
            {% for model in models %}
                <tr>
                    <td>
                        {{ model.username }}
                    </td>
                    <td>
                        {% set allowQuestions = ATMSurveyModelAllowQuestions(model.id) %}
                        {% if allowQuestions is not null %}
                            <input type="checkbox" class="chkAllow" {{ allowQuestions.allow_questions ? 'checked="checked"' }} data-model-id="{{ model.id }}">
                        {% else %}
                            <input type="checkbox" class="chkAllow" checked data-model-id="{{ model.id }}">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
    <script>
        $('.chkAllow').click(function(){
            let modelId = $(this).attr('data-model-id');
            let checked = $(this).is(':checked') ? 1 : 0;

            $.ajax({
                url: Routing.generate('atm_survey_allow_model',{ 'userId':modelId, 'allowed':checked }),
                type: 'post'
            });
        });
    </script>
{% endblock javascripts %}