{% extends 'ATMSurveyBundle:Admin:base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/jquery-ui.css') }}" type="text/css"/>
    <link rel="stylesheet" href="{{ asset('bundles/atmsurvey/css/jquery-ui.theme.min.css') }}" type="text/css"/>
    <style>
        .ui-state-default{width: 100% !important;text-align: center !important;}
        .fr-view {font-family:"Quicksand", sans-serif !important;}
    </style>
{% endblock stylesheets %}

{% block headingJS %}
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/modal.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/plugins/bootstrap/modal/bootstrap.bundle.js') }}"></script>
{% endblock headingJS %}

{% block content %}
    <div class="inner">
        <form action="{{ path('atm_survey_edit_questions',{ 'surveyId':survey.id }) }}" method="post" id="frmQuestions" enctype="multipart/form-data">
            <fieldset>
                <legend>Questions for survey: <span style="font-weight: bold;">{{ survey.name | title }}</span></legend>
            </fieldset>
            <fieldset style="width: 50%;float: left;min-height: 100px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;">
                <legend style="margin-bottom:15px;">Header Image</legend>
                <img src="{{ asset(survey.headerImage) }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImage" class="flImage">
            </fieldset>
            <fieldset style="width: 50%;float: left;min-height: 100px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;">
                <legend style="margin-bottom:15px;">Header Image Mobile (420x280)</legend>
                <img src="{{ asset(survey.headerImageMobile) }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImageMobile" class="flImage">
            </fieldset>
            <fieldset style="width: 50%;float: left;min-height: 100px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;margin-top:20px;">
                <legend style="margin-bottom:15px;">Header Image Middle (1440 x 478)</legend>
                <img src="{{ asset(survey.headerImageMiddle) }}" style="float: none;max-width: 100%">
                <input type="file" name="flHeaderImageMiddle" class="flImage">
            </fieldset>
            <fieldset style="width: 50%;float: left;min-height: 100px;margin-bottom: 40px;padding-bottom: 10px;border-bottom: 1px solid #c2c2c2;">
                <legend style="margin-bottom:15px;">Profile Image</legend>
                <img src="{{ asset(survey.profileImage) }}" style="float: none;max-width: 100%">
                <input type="file" name="flProfileImage" class="flImage">
            </fieldset>
            <fieldset>
                <legend>Publish Date</legend>
                <input type="text" name="publishDate" id="atm_survey_publish_date" value="{{ survey.publish_date }}">
            </fieldset>
            <input type="hidden" name="questions" id="hdnQuestions">
            <div class="controls" style="width: 70%;display: block;margin: 0 auto;">
                <a class="but blue btnAddQuestion" style="float: left;">Add Question</a>
                <a class="but red btnSaveQuestions" style="float: right;">Save Questions</a>
                <div class="clear"></div>
            </div>
            <div class="questions_container">
                {% for question in survey.questions %}
                    <div class="question" id="question_{{ question.id }}" data-question-id="{{ question.id }}">
                        <a class="but btnRemoveQuestion" data-question-id="{{ question.id }}">Remove</a>
                        <div class="selectC">
                            <select class="slcQuestionType">
                                <option value="text" {{ question.type == 'text' ? 'selected' }}>Text</option>
                                <option value="single_choice" {{ question.type == 'single_choice' ? 'selected' }}>Single Choice</option>
                                <option value="multiple_choice" {{ question.type == 'multiple_choice' ? 'selected' }}>Multiple Choice</option>
                            </select>
                        </div>
                        <textarea class="question_text" required>{{ question.question }}</textarea>
                        <div class="typeContainer" style="{{ question.type == 'text' ? 'display:none' }}">
                            <a class="but red addChoice">Add Choice</a>
                            <div class="choice_container">
                                {% for choice in question.choices %}
                                    <div>
                                        <label>
                                            {% if question.type == 'single_choice' %}
                                                <input type="radio" name="question_{{ question.id }}_rd" value="">
                                            {% else %}
                                                <input type="checkbox" name="question_{{ question.id }}_chk_{{ loop.index }}" value="">
                                            {% endif %}
                                            <span class="choiceText" data-choice-id="{{ choice.id }}">{{ choice.choice }}</span>
                                        </label>
                                        <span class="removeChoice" data-choice-id="{{ choice.id }}">X</span>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="clear"></div>
                        </div>

                        <div class="clear"></div>
                    </div>
                {% endfor %}
            </div>
            <div class="controls" style="width: 70%;display: block;margin: 0 auto;">
                <a class="but blue btnAddQuestion" style="float: left;">Add Question</a>
                <a class="but red btnSaveQuestions" style="float: right;">Save Questions</a>
                <div class="clear"></div>
            </div>
        </form>
    </div>
    <div class="question_clone" style="display:none">
        <a class="but" onclick="$(this).parent().remove();">Remove Question</a>
        <div class="selectC">
            <select class="slcQuestionType">
                <option value="text" selected>Text</option>
                <option value="single_choice">Single Choice</option>
                <option value="multiple_choice">Multiple Choice</option>
            </select>
        </div>
        <textarea class="question_text" required></textarea>
        <div class="typeContainer" style="display:none">
            <a class="but red addChoice">Add Choice</a>
            <div class="choice_container"></div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="modal fade" id="popAddOption" tabindex="-1" role="dialog"  aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 style="font-weight: bold;">Option Text</h1>
                    <a class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">X</span>
                    </a>
                </div>
                <div class="modal-body">
                    <input type="text" id="txOptionText">
                </div>
                <div class="modal-footer">
                    <a class="but blue" id="btnSaveOption">Create option</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
    <script src="{{ asset('bundles/atmsurvey/js/jquery-ui.min.1121.js') }}"></script>
    <script src="{{ asset('bundles/atmsurvey/js/survey.js') }}"></script>
    <script>
        $('.btnRemoveQuestion').click(function(){
            var btn = $(this);
            var questionId = btn.attr('data-question-id');

            $.ajax({
                url: Routing.generate('atm_survey_delete_question',{ 'questionId':questionId }),
                type: 'post',
                success: function(){
                    $('#question_'+questionId).remove();
                }
            });
        });

        $('.removeChoice').click(function(){
            var btn = $(this);
            var choiceId = btn.attr('data-choice-id');

            $.ajax({
                url: Routing.generate('atm_survey_delete_choice',{ 'choiceId':choiceId }),
                type: 'post',
                success: function(){
                    btn.parent().remove();
                }
            });
        });

        $('.btnSaveQuestions').click(function(){
            var questions = [];

            $('.questions_container .question').each(function() {
                var question = $(this);
                var obj = new Object();
                var questionId = question.attr('data-question-id');

                obj['text'] = question.find('.question_text').val();
                obj['type'] = question.find('.slcQuestionType').val();

                if (typeof questionId !== typeof undefined && questionId !== false) {
                    obj['id'] = questionId;
                }

                if(obj['type'] != 'text'){
                    var choicesContainer = question.find('.choice_container');
                    obj['choices'] = [];
                    choicesContainer.find('div').each(function(){
                        var choice = new Object();
                        var choiceId = $(this).find('.choiceText').attr('data-choice-id');
                        if (typeof choiceId !== typeof undefined && choiceId !== false) {
                            choice['id'] = choiceId;
                        }
                        choice['text'] = $(this).find('.choiceText').html();
                        obj['choices'].push(choice);
                    });
                }

                questions.push(obj);
            });

            $('#hdnQuestions').val(JSON.stringify(questions));
            $('#frmQuestions').submit();
        });

        $('.flImage').change(function(){
            var currentInput = $(this);
            var file = currentInput[0].files[0];

            var reader = new FileReader();
            reader.onload = function(e){
                currentInput.siblings('img').attr('src', e.target.result);
            };
            reader.readAsDataURL(file);
        });

        $( "#atm_survey_publish_date" ).datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            numberOfMonths: 3
        });
    </script>
{% endblock javascripts %}